{% extends 'base.html' %}

{% block content %}

<!--==============================content================================-->
    <section id="content"></div>
    	<div class="container_12 top">
            <div class="grid_8">
            	<h2>Chi Siamo</h2>
                <div class="box-5 right-1">
                    <img src="http://www.biobalance.org.au/blog/image.axd?picture=2013%2F2%2Fface-paint-children.jpg" alt="" class="img-border fleft">
                    <p class="p2">AZZURRA è un'associazione no profit nata nel 1999 da un'idea del dott. Salim Adib.</p>
                    <p class="p2">I medici e i volontari di Azzurra offrono gratuitamente interventi e consulenze in riferimento alla diagnosi di gravi malformazioni congenite o sindrome genetica rara, nonchè sostegno e assistenza alle famiglie dei piccoli colpiti da tali malattie.</p>
                    <p class="p2">Gli interventi di Azzurra appaiono ancor più rilevanti in considerazione del fatto che, in presenza di tali patologie accompagnate spesso da diagnosi inesorabili, lo stato di angoscia in cui cadono le famiglie e la loro profonda disperazione necessitano di un supporto non solo medico ma anche psicologico terapeutico.</p>
                    <p class="p2">L'impegno e l'aiuto che i medici ed i volontari di Azzurra offrono appare dunque rilevante e fondamentale. Nella serenità delle nostre famiglie laddove vediamo quotidianamente i nostri figli crescere sani, Azzurra cerca un piccolo sostegno per colorare d'amore il cielo dei bambini.</p>
                    <p></p>
                    <p class="p2">il presidente</p><p class="p2">Dott. Adib Salim</p>
                </div>
            </div>
            <div class="grid_4">
            	<h2>Altro:</h2>
                <div class="box-6 top-5">
                    <img src="http://www.asdsphera.it/immagini/layout/5per1000%20Sphera.jpg" alt="" class="img-indent img-border" style="width: 93px; height: 93px;">
                    <p><a href="http://azzurrachild.org/1/upload/statuto.pdf" class="link">Aiutaci</a><br> Con la prossima dichiarazione dei redditi, ciascuno di voi potrà...</p>
                    <a href="{% url 'sostienici' %}" class="button top-4">Vedi...</a>
                </div>
        
				
            </div>  
            
            <div class="clear"></div>
        </div>
    </section> 

    {% endblock %}