{% extends 'base.html' %}

{% block content %}

<!--==============================content================================-->
    <section id="content"></div>
    	<div class="container_12 top">
            <div class="grid_8">
            	<h2>Associarsi e Donare</h2>
                <div class="box-5 right-1">
                    <p class="p2"><b>Come aderire ai progetti di Azzurra Onlus</b>
                      <p class="p2">Scopo di Azzurra Onlus è quello di promuovere le donazioni di coloro che desiderano destinare risorse al perseguimento di finalità d'utilità sociale.</p>
                      <p class="p2"></p>
                      <p class="p2"><b>Associazione ONLUS Azzurra</b><br>
                      Via Tremana, 42<br>
                      24123 Bergamo (BG)<br>Tel e Fax 035.19953406<br>
                      C.F. 95106790165</p>  
                      <br>
                      <p class="p2"><b>Coordinate Bancarie:</b>
                        <br>Banca Intesa SanPaolo
                        <br>IBAN: IT98 Y030 6911 1211 0000 0000 021</p>                 
                </div>
                <div>
                    <p class="text-3"><span>|</span> </p>
                    <p class="text-4"></p>
                </div>
                <h2>5 x 1000</h2>
                <div class="box-5 right-1">
                    <p class="p2">"AZZURRA” è un’associazione NO PROFIT, nata nel 1999, composta da un’equipe di medici che offre gratuitamente interventi e consulenze in riferimento alla diagnosi di gravi malformazioni congenite o sindrome genetica rara, nonché sostegno e assistenza alle famiglie dei piccoli colpiti da tali malattie.</p>
                    <p class="p2">Con la prossima dichiarazione dei redditi, ciascuno di voi potrà destinare all’Associazione "AZZURRA” il 5 per 1000 dell’IRPEF, dovuto come già avviene per l’8 per 1000 senza nessun costo aggiuntivo.</p>
                    <p class="p2">Infatti, una quota pari al 5 per 1000 dell’imposta stessa è destinata in base alla scelta del contribuente alle seguenti finalità:</p>
                    <p class="p2">Sostegno del volontariato e delle altre organizzazioni non lucrative di utilità socio sanitaria inerente alla nostra missione Finanziamento della ricerca scientifica; Finanziamento della ricerca clinica nell’ambito delle patologie genetiche polimalformative;</p>
                    <p class="p2">La nostra Associazione, avendo i requisiti richiesti, si è iscritta al Registro apposito presso l’Agenzia delle Entrate per poter ricevere le somme destinate dai contribuenti che, per volontà propria, decideranno di farlo indicando nello spazio dedicato al 5 per 1000 il codice fiscale dell’Associazione "AZZURRA”: 95106790165.</p><p class="p2">Vi preghiamo di voler diffondere la nostra richiesta anche a Vostri parenti e amici, in modo che sempre più bambini possano continuare a sperare.</p>                 
                </div>
            </div>
            <div class="grid_4">
            	<h2>Altro:</h2>
                <div class="box-6 top-5">
                    <img src="http://www.asdsphera.it/immagini/layout/5per1000%20Sphera.jpg" alt="" class="img-indent img-border" style="width: 300px; height: auto;">
                </div>
                    		

            </div>  
            
            <div class="clear"></div>
        </div>
    </section> 

    {% endblock %}