    <div id="slide">
       <div class="slider">
          <ul class="items">
              <li><img src="{{STATIC_URL}}/images/slider-1.jpg" alt="" /><div class="banner"><p class="text-2"><strong>Tre cose ci sono rimaste del Paradiso: le stelle, i fiori e i bambini.</strong></p><p class="text-2">(cit. Dante Alighieri)</p></div></li>
              <li><img src="{{STATIC_URL}}/images/slider-2.jpg" alt=""> /><div class="banner"><p class="text-2"><strong>Tutti i grandi sono stati bambini una volta. Ma pochi di essi se ne ricordano.</strong></p><p class="text-2">(cit. Antoine De Saint-Exupéry)</p></div></li>
              <li><img src="{{STATIC_URL}}/images/slider-3.jpg" alt="" /><div class="banner"><p class="text-2">La salute è così al di sopra di tutti gli altri beni materiali che in verità un mendicante sano è più felice di un re malato</p>
                <p>(cit. Arthur Schopenauer)</p></div></li>
          </ul>
       </div>
    </div>